.wrapper {
    display: grid;
    padding: 0 100px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.item {
    width: 100%;
    border: 1px solid var(--gray);
    &:hover {
        transform: translateY(1px);
    }
}

.item--img {
    width: 100%;
}

.item--title {
    height: 32px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin: 8px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.item--bottom {
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item--price {
    color: var(--primary);
    font-weight: 500;
}

.item--discount {
    display: inline-block;
    margin-left: 8px;
    font-size: 1.2rem;
    background-color: var(--primary);
    color: var(--white);
    padding: 2px 4px;
}

.item--sold {
    color: var(--text-gray);
    font-size: 1.2rem;
}
