.wrapper {
    display: flex;
    margin: 0 100px;
    background-color: var(--white);
}

.image {
    width: 40%;
    padding: 15px;
}
.image-main {
    object-fit: cover;
    width: 100%;
}

.image-group {
    padding-top: 2.5%;
    display: flex;
    gap: 2.5%;
}

.image-child {
    object-fit: cover;
    width: 18%;
    cursor: pointer;
}

.inner {
    flex: 1;
    padding: 25px;
}

.title {
    font-size: 1.9rem;
    font-weight: 500;
}

.vote {
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-gray);
    gap: 4px;
    span {
        font-size: 1.6rem;
        color: var(--black);
    }

    span:first-child {
        color: var(--primary);
    }

    span + span {
        margin-left: 18px;
    }
}
.vote-separate {
    width: 0.5px;
    height: 20px;
    background-color: var(--gray);
}

.property {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.coin {
    display: flex;
    gap: 12px;
    align-items: center;
}

.coin-before {
    text-decoration: line-through;
    color: var(--text-gray);
}
.coin-after {
    font-size: 2.2rem;
    color: var(--primary);
}

.coin-discount {
    color: var(--white);
    background-color: var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2px 4px;
    text-transform: uppercase;
}

.voucher,
.color,
.delivery,
.quantity {
    display: flex;
    align-items: center;
}

.voucher-title,
.color-title,
.delivery-title,
.quantity-title {
    width: 110px;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--text-gray);
    font-weight: 500;
}

.voucher-child {
    height: 20px;
    background-color: var(--background-primary);
    color: var(--primary);
    padding: 2px 4px;
    display: flex;
    align-items: center;
}
.delivery-child {
    font-size: 1.4rem;
}
.color-types {
    text-align: center;
    min-width: 70px;
    margin-right: 20px;
    padding: 9px 16px;
    border: 1px solid var(--gray);
    border-radius: 2px;
    background-color: var(--white);
}

.quantity-stock {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.color-types:hover {
    cursor: pointer;
    border-color: var(--primary);
}

.action {
    display: flex;
    gap: 20px;
}

.btn-add {
    min-width: 180px;
    color: var(--primary);
    background-color: var(--background-primary);
    padding: 14px 30px;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid var(--primary);
    border-radius: 2px;
}
.btn-buy {
    min-width: 180px;
    color: var(--white);
    background-color: var(--primary);
    padding: 12px 30px;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid var(--primary);
    border-radius: 2px;
}

.btn-buy:hover,
.btn-add:hover {
    cursor: pointer;
    opacity: 0.9;
}

//Tablet
@media only screen and (min-width: 46.25em) and (max-width: 66.35em) {
    .inner {
        padding: 25px 10px;
    }

    .title {
        font-size: 1.5rem;
    }
    .vote {
        font-size: 1.2rem;
        padding: 16px 0;
        gap: 0;
        span {
            font-size: 1.2rem;
        }
    }
    .property {
        margin-left: 0;
    }
    .coin-after {
        font-size: 1.9rem;
    }
    .coin-discount {
        font-size: 1.1rem;
        padding: 1px 2px;
    }

    .voucher-title,
    .color-title,
    .delivery-title,
    .quantity-title {
        font-size: 1.4rem;
    }
    .voucher,
    .color,
    .delivery,
    .quantity {
        margin: 16px 0;
    }
    .btn-add,
    .btn-buy {
        min-width: 0;
        width: 40%;
        padding: 12px;
    }
}

//Mobile
@media only screen and (max-width: 46.25em) {
    .wrapper {
        display: block;
        margin: 0;
        padding-bottom: 20px;
    }
    .image {
        width: 100%;
        padding: 0;
    }
    .inner {
        padding: 0px;
    }
    .title {
        padding: 0 10px;
        margin-top: 10px;
        font-size: 1.6rem;
    }
    .vote {
        padding: 10px;
        span {
            font-size: 1.4rem;
        }
    }
    .property {
        margin-left: 0;
        gap: 10px;
        padding: 0 10px;
    }
    .coin-before {
        font-size: 1.6rem;
    }
    .coin-after {
        font-size: 1.8rem;
    }
    .coin-discount {
        font-size: 1.1rem;
    }
    .voucher-title,
    .color-title,
    .delivery-title,
    .quantity-title {
        font-size: 1.4rem;
    }
    .voucher-child {
        font-size: 1.3rem;
    }
    .color-types {
        padding: 6px 16px;
    }
    .action {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-left: -10px;
        gap: 0;
    }
    .btn-add,
    .btn-buy {
        min-width: 0;
        width: 50%;
        border-radius: 0;
    }
    .btn-add {
        background-color: var(--white);
    }
}
