.wrapper {
    padding: 0 100px;
    background-color: var(--primary);
}

.inner {
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}

.category {
    display: flex;
    justify-content: center;
    gap: 24px;
    :hover {
        color: var(--primary);
    }
}

.category-item {
    position: relative;
    padding: 24px 2px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;

    overflow: hidden;
    &::before {
        content: '';
        bottom: 10px;
        position: absolute;
        width: 100%;
        height: 3px;
        transform: translateX(-110%);
        background-color: var(--primary);
        transition: all 0.3s ease-in-out;
    }
}

.category-item:hover::before {
    transform: translateX(0);
}
.category-item .logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 81px;
}

//search

.search {
    width: 600px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid transparent;
    overflow: hidden;

    input {
        flex: 1;
        padding: 12px 14px;
        &::placeholder {
            font-size: 1.4rem;
            line-height: 4rem;
        }
    }
    &:hover {
        box-shadow: rgb(0 0 0 / 14%) 0px 3px 12px;
    }
}

.search-btn {
    margin: 1px;
    padding: 10px 28px;
    color: #fff;
    background-color: var(--primary);
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        opacity: 0.95;
    }
}

//action

.action {
}

.action-btn {
    font-size: 1.8rem;
    padding: 8px 12px;
    margin: 0 2px;
    color: var(--white);
    background-color: var(--primary);
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.account-login {
    min-width: 112px;
    font-size: 1.5rem;
    padding: 10px 20px;
    &:hover {
        color: var(--white);
        background-color: var(--primary);
    }
    // + .account-login {
    //     padding-top: 2px;
    // }
}
