.wrapper {
    display: block;
}

.header {
    width: 1200px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    font-size: 1.7rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
}

.header-title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-left: 24px;
}
.header-support {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.3rem;
}

.inner {
    display: flex;
    height: 600px;
    background-color: var(--primary);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1040px;
    margin: auto;
    height: 480px;
}

.container-logo {
    display: flex;
    flex: 0.7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24rem;
    color: var(--white);
}
.container-title {
    font-size: 2.4rem;
    margin-top: 20px;
}
.box {
    display: flex;
    flex-direction: column;
    width: 340px;
    padding: 0 30px;
}
.box-title {
    font-size: 2.2rem;
    margin-top: 36px;
    margin-bottom: 22px;
}

.box-input {
    font-size: 1.6rem;
    margin: 14px 0;
    padding: 10px 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 2px;
    &:focus {
        border-color: var(--black);
    }
}
.box-btn {
    padding: 11px 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 2px;
    cursor: pointer;
    margin: 14px 0;
    &:hover {
        opacity: 0.9;
    }
}

.box- {
    display: flex;
    justify-content: space-between;
}
.reset-pass,
.login-sms {
    color: #05a;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.seperate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    span {
        margin: 0 12px;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: var(--gray);
    }
}
.seperate-item {
    height: 0.5px;
    flex: 1;
    background-color: var(--gray);
}
.box-network {
    display: flex;
    justify-content: space-between;
}
.network-item {
    min-width: 120px;
    display: flex;
    margin: 14px 0;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 9px 22px;
    border: 1px solid #ccc;
    cursor: pointer;
    span {
        margin-left: 4px;
    }
    &:hover {
        background-color: var(--hover-background);
        opacity: 0.9;
    }
}
.network-icon {
    font-size: 2.4rem;
    color: #2621ff;
}

.box-bottom {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 16px 0px 32px 0;
    text-align: center;
    color: var(--primary);

    span {
        font-weight: 400;
        color: var(--black);
        margin-right: 4px;
    }
}

// Register
.policy {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 0 19px;
    text-align: center;
    margin: 14px 0;
    span {
        color: var(--primary);
    }
}
